@import "../global.scss";

.portfolioList {
    font-size: 16px;
    margin-right: 50px;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      background-color: $mainColor;
      color: $primaryColor;
      box-shadow: 0px 0px 15px -8px black;
    }
  }